* {
    margin: 0px;
    padding: 0px;
    font-family: calibri;
    box-sizing: border-box;
}
#franja_verde {
    background-color: green;
    padding-bottom: 12.5px
}
#logo_verde {
   margin: 30px 15px 0px 25px;
}
#logo_verde img {
    width: 257px;
}
body {
    background-color: rgba(73, 73, 73, 0.914);
}
article {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#seccion01 {
    background-color: #aff884;
    border: 5px solid green;
    margin: 158.5px 0px 158.5px 0px;
    width: 740px;
    border-radius: 10px;
}
#seccion01 ul {
    padding: 25px 25px 25px 50px;
}
#seccion01 ul li {
    font-size: 18px;
    font-weight: lighter;
    padding: 15px 5px 15px 5px;
}
#seccion02 div img {
    width: 350px;
    margin-top: 195px;
    border-radius: 25px;
}
footer {
    background-color: green;
    width: 100%;
    height: 12.5px;
}

@media screen and (max-width: 480px) {
    #logo_verde {
        display: flex;
        justify-content: center;
        margin: 20px 0px 0px 0px;
     }
    #logo_verde img {
        width: 200px;
    }
    #seccion01 {
        margin: 75.5px 0px -64.5px 0px;
        width: 400px;
        height: 475px;
    }     
    #seccion01 ul {
        padding: 5px 10px 15px 10px;
    }
    #seccion01 ul li {
        font-size: 16px;
        font-weight: lighter;
        padding: 5px 5px 10px 5px;
        text-align: center;
        list-style: none;
    }   
    #seccion02 div img {
        width: 150px;
        margin-top: 0px;
        border-radius: 25px;
        position: relative;
        bottom: 106px;
        border: 2.5px solid green;
    }
}
